<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Unit:</b>
  <%= @product.unit %>
</p>

<p>
  <b>Type number:</b>
  <%= @product.type_number %>
</p>

<p>
  <b>Unit price:</b>
  <%= @product.unit_price %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
